.favorite{
    color:red;
}

.removed{
    display: none;
}

.loader {
    display: inline-block;
    margin: 5% 0;
    text-align: center;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #898989;
    background: transparent;
    width: 16px;
    height: 16px;
    -webkit-animation: spin .75s linear infinite; /* Safari */
    animation: spin .75s linear infinite;
  }
  